# This is a basic workflow to help you get started with Actions

name: Codespace

# Controls when the workflow will run
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Setup Python 3.13
        uses: actions/setup-python@v1
        with:
          python-version: 3.13

      # Runs a set of commands using the runners shell
      - name: Install dependencies
        run: |
          make install
